<div class="container">
  <header>
    <h1>Редактировать задачу</h1>
  </header>

  <%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
      <div class="error-message">
        <h2><%= pluralize(@task.errors.count, "ошибка") %> предотвращает сохранение:</h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="form-field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="form-field">
      <%= form.label :status %>
      <%= form.select :status, ['в процессе', 'завершено'] %>
    </div>

    <div class="form-field">
      <%= form.label :categories %>
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>

    <%= form.submit "Обновить задачу", class: 'button' %>
  <% end %>

  <%= link_to 'Назад', task_path(@task), class: 'button' %>
</div>
