<div class="container">
  <header>
    <h1 class="page-title">Список задач</h1>
  </header>

  <%= link_to 'Создать новую задачу', new_task_path, class: 'btn btn-create' %>

  <% if @tasks.count > 0 %>
    <table class="task-table">
      <thead>
      <tr>
        <th>Название</th>
        <th>Автор</th>
        <th>Статус</th>
        <th>Категории</th>
        <th colspan="3">Действия</th>
      </tr>
      </thead>
      <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task_path(task), class: "task-title" %></td>
          <td><%= link_to @users.find(task.user_id).username, user_path(task.user_id), class: "username-link" %></td>
          <td><%= task.status %></td>
          <% if task.categories.count > 0 %>
            <td><%= task.categories.map(&:name).join(", ") %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if task.user_id == current_user.id %>
            <td><%= link_to 'Редактировать', edit_task_path(task), class: 'btn btn-edit' %></td>
            <td><%= link_to 'Удалить', task_path(task), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-delete' %></td>
          <% else %>
            <td>Нет доступных действий</td>
          <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="task-table">
      <p>Нет ни одной текущей задачи...</p>
    </div>
  <% end %>
</div>
