<div class="container">
  <header>
    <h1 class="page-title">Создать новую задачу</h1>
  </header>

  <%= form_with(model: @task, local: true, html: { class: "task-form" }) do |form| %>
    <% if @task.errors.any? %>
      <div class="error-message">
        <h2><%= pluralize(@task.errors.count, "ошибка") %> предотвращает сохранение:</h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= form.label :title, class: "field-label" %>
      <%= form.text_field :title, class: "field-input" %>
    </div>

    <div class="form-field">
      <%= form.label :description, class: "field-label" %>
      <%= form.text_area :description, class: "field-input" %>
    </div>

    <div class="form-field">
      <%= form.label :assigned_user_id, "Assigned User", class: "field-label" %>
      <%= form.select :assigned_user_id, [['Не назначен', nil]] + @users.map { |user| [user.username, user.id] }, { prompt: false }, { class: "field-input" } %>
    </div>

    <div class="form-field">
      <%= form.label :status, class: "field-label" %>
      <%= form.select :status, [['Бэклог', 'backlog'], ['В фокусе', 'focus'], ['В процессе', 'in_progress'], ['QA', 'qa'], ['Завершено', 'completed']], { prompt: 'Без статуса' }, { class: "field-input" } %>
    </div>

    <div class="form-field">
      <%= form.label :categories, class: "field-label" %>
      <% if Category.any? %>
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
          <div class="category-check">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      <% else %>
        <p>Категорий нет. <%= link_to 'Создайте категорию', new_category_path, target: '_blank' %></p>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit "Создать задачу", class: 'btn btn-create' %>
    </div>
  <% end %>

  <%= link_to "Назад", request.referer && URI(request.referer).path != request.fullpath ? URI(request.referer).path : tasks_path, class: 'btn btn-back' %>
</div>
