<h1 class="page-title">Регистрация</h1>

<%= form_with(model: @user, local: true, html: { class: "registration-form" }) do |form| %>
  <% if @user.errors.any? %>
    <div class="error-message">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :username, class: "field-label" %>
    <%= form.text_field :username, class: "field-input" %>
  </div>

  <div class="form-field">
    <%= form.label :password, class: "field-label" %>
    <%= form.password_field :password, class: "field-input" %>
  </div>

  <div class="form-field">
    <%= form.label :password_confirmation, class: "field-label" %>
    <%= form.password_field :password_confirmation, class: "field-input" %>
  </div>

  <div class="actions">
    <%= form.submit "Зарегистрироваться", class: 'btn btn-register' %>
  </div>
<% end %>

<p>
  <%= link_to 'Вход', login_path, class: "btn btn-login" %>
</p>
