<h1>Регистрация</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div class="error-message">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="form-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="form-field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Зарегистрироваться", class: 'button' %>
  </div>
<% end %>

<p>
  <%= link_to 'Вход', login_path %>
</p>
